<h1>List Cycles in Dojo</h1>

<%= debug @post %>

<h5>Number of Cycles:
<%= @allCycles.count %>

 <%= @allCycles %>

<%= @allCycles[1] %>
<BR>

<%= @json_cycles %>


<% @allCycles.each do |cycle| %>
    <tr>
	    <td><%= cycle %></td>
	   
      <BR><BR>
    </tr>
  <% end %>


</h5>
