<h1>List Katas in Dojo</h1>

<h5>Number of CSV Rows:
<%= @katas.count %>
<BR>
<% @katas.each do |kata| %>
    <tr>
      <td><%= kata.path %></td></tr><BR>
      <td><%= kata.language.name %></td></tr><BR>
      <td><%= kata.id %></td></tr><BR>
      <td><%= kata.exercise.name %></td></tr><BR>
      <% kata.avatars.active.each do |avatar| %>
      	 <td><%= avatar.name %></td></tr><BR>
      	 <td><%= kata.created %></td></tr><BR>
      	 <td><%= avatar.lights.count %></td></tr><BR>
      	 <td><%= avatar.lights.count %></td></tr><BR>
      	 <td><%= avatar.lights[avatar.lights.count-1].colour %></td></tr><BR>
      <% end %>
      <BR>
    </tr>
  <% end %>


</h5>

