<h1>CycleCatagorizer#cycle_catgories</h1>


<% @allSessions.each do |session| %>
	<%= session.cyberdojo_id %>,
	<%= session.avatar %>,
	<%= session.kata_name %>,
	<%= session.language_framework %>,

	<!-- <%= session.compiles.count %> -->

	<% session.compiles.all.each do |compile| %>
	{<%= compile.light_color %>,
	<%= compile.git_tag %>,
	<% if compile.statement_coverage.blank? %>
	NA,
	<% else %>
	<%= compile.statement_coverage %>,
	<% end %>
}
	<% end %>

	<BR>

<% end %>


<%= debug @allSessions %>